<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.nanoclaw.sweeper</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/npm</string>
		<string>run</string>
		<string>sweeper:review</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>WorkingDirectory</key>
	<string>/Users/amrut/nanoclaw</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Weekday</key>
		<integer>0</integer>
		<key>Hour</key>
		<integer>3</integer>
		<key>Minute</key>
		<integer>15</integer>
	</dict>
	<key>RunAtLoad</key>
	<false/>
	<key>Nice</key>
	<integer>10</integer>
	<key>StandardOutPath</key>
	<string>/Users/amrut/nanoclaw/logs/sweeper.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/amrut/nanoclaw/logs/sweeper-err.log</string>
</dict>
</plist>
